<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap" rel="stylesheet">
  <title>Batman Films</title>
</head>
<body>
  <div class="container">
      <header>
          <h1>Batman Films</h1>
      </header>
      <div id="posters" class="poster-grid"></div>
      <div id="pagination" class="pages"></div>
  </div>
  <div id="myModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <div id="modal-img"></div>
      </div>
  </div>
  <script src="/js/index.js"></script>
</body>
</html>